{% extends 'layout.html' %}
{% import '_macros.html' as macros %}
{% block content %}

<style type="text/css">
body, html
    {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    }
#content
    {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 90px;
    height: expression(document.body.clientHeight-90);
    }
</style>

<div id="content">

<iframe width="100%" height="100%" src="https://cat.pdx.edu/~snot/textonly.cgi?view={{ticket}}" />
</div>

{% endblock content %}
